.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.p-iframe-box{
  height: max-content;
  border-radius: 10px;
  
}
.p-iframe-cover{
  cursor: pointer;
  position: fixed;
  border-radius: 10px;
  inset: 2px 0 0 0;
  height: 110%;
  width: 100%;
  z-index: 1;
  background-color: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  
}
.p-iframe-cover:hover div{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-iframe-cover div{
  display: none;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  /* transition-delay: 1s; */
  height: 40%;
  width: 50%;
  border-radius: 10px;
  background-color: aliceblue;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

