/* .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
} */
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.p-iframe-box {
  height: max-content;
  border-radius: 10px;
}

.portfolio-itemwrapper {
  padding: 5px 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  height: 300px;
  width: 300px;
  margin: 10px;
  border: 7px solid;
  border-color: var(--orangeCard);
  /* background-color: var(--orange); */
  box-shadow: 0px 0px 10px 2px #c5c5c5;
  transition: all 0.5s linear;
}
.portfolio-itemwrapper:hover {
  background-color: #fff;
  color: var(--black);
  transform: scale(1.03);
}
.portfolio-slider .swiper-pagination-bullet-active {
  background: var(--orange);
}
.portfolio-slider {
  padding-bottom: 30px !important;
}
.portfolio-itemwrapper img {
  width: 300px;
  height:60%;
  border-radius: 10px;
}
.portfolio-itemwrapper h3 {
  font-weight: 800;
  text-align: center;
}
.portfolio-itemwrapper a {
  align-self: center;
  width: 40%;
}
.portfolio-itemwrapper button {
  border-radius: 10px;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  border: 0px;
  transition: all 0.5s linear;
}
.portfolio-itemwrapper button:hover {
  background-color: var(--orange);
  color: antiquewhite;
  transform: scale(1.1);
}
/* .portfolio-itemwrapper a {
  padding: 0px;
} */
/* .portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
} */ ;
